<nav>
  <div class="nav-infor">
    <div class="nav-infor-locale">
      <img src="assets/icon/localization.svg" alt="Localização" />
      <p class="body-tiny fw-400 gray-6">Local</p>
    </div>
    <div class="nav-infor-lang">
      <div class="langs-item-container">
        <div class="lang-item">
          <p class="body-tiny fw-400 gray-6">US</p>
          <img src="assets/icon/arrow-down.svg" alt="Seta">
        </div>
        <div class="lang-item">
          <p class="body-tiny fw-400 gray-6">BR</p>
          <img src="assets/icon/arrow-down.svg" alt="Seta">
        </div>
      </div>
      <div class="lang-sign">
        <a class="body-tiny fw-400 gray-6">Sign in</a>
        <a class="body-tiny fw-400 gray-6">Sign up</a>
      </div>
    </div>
  </div>
  <div class="nav-search">

    <a href="#">
      <img src="assets/img/logo_black.svg" alt="Logo">
    </a>
    <div class="search-container">
      <div class="nav-search-input">
        <label for="search">
          <img src="assets/icon/search.svg" alt="Pesquisar">
        </label>
        <input placeholder="Pesquisar..." autocomplete="off" type="text" name="Pesquisar..." id="search">
      </div>
      <button class="btn-search body-small fw-600">
        Pesquisar
      </button>
    </div>
    <div class="nav-search-products">
      <a href="#">
        <img src="assets/icon/heart.svg" alt="">
      </a>
      <a href="#">
        <img src="assets/icon/bag.svg" alt="">
      </a>
      <div class="nav-search-products-price">
        <p>PREço</p>
      </div>
    </div>
  </div>
</nav>
