<header class="align header">
  <div class="header-offers">
    <div class="header-offers-big">
      <h2 class="fw-600 white">Comida orgânica, fresca & saudável</h2>
      <div class="header-offers-big-descont">
        <p class="fw-500 white body-xl">
          Desconto de <strong class="fw-500 white">até 30%</strong>
        </p>
        <p class="fw-400 white body-small">
          Frete grátis para todos os seus pedidos.
        </p>
      </div>
      <button class="btn-offers fw-600 body-medium">
        Ver ofertas
        <img
          src="assets/icon/arrow-right-green.svg"
          alt="Seta para mais informações"
        />
      </button>
    </div>
    <div class="header-offers-small">
      <div class="offers-item">
        <div class="offers-item-content">
          <strong class="gray-9 body-small"> Ofertas de verão </strong>
          <h5 class="fw-600 gray-9">75% OFF</h5>
          <p class="body-small gray-600 fw-400">Apenas frutas & vegetais</p>
          <button>
            <p class="fw-600 body-medium">Ver ofertas</p>
            <img
              src="assets/icon/arrow-right-green.svg"
              alt="Seta para mais informações"
            />
          </button>
        </div>
      </div>
      <div class="offers-item-second">
        <strong class="white body-small"> Melhores ofertas</strong>
        <h5 class="fw-600 white">
          Oferta especial de produtos nesse mês
        </h5>
        <button>
          <p class="fw-600 body-medium">Ver ofertas</p>
          <img
            src="assets/icon/arrow-right-green.svg"
            alt="Seta para mais informações"
          />
        </button>
      </div>
    </div>
  </div>
</header>
